.contacts {
  padding-top: 20px;

  &__content {
    text-align: center;
    margin-top: 45px;
  }

  & .form {
    display: inline-block;
    max-width: 600px;
    width: 100%;
    text-align: center;

    &__name, &__social {
      display: flex;
      justify-content: space-between;

      & .form__item {
        margin-right: 40px;
        width: 100%;
        margin-bottom: 20px;

        @media (max-width:467px) {
          margin-right: 20px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__message {
      width: 100%;
      min-height: 150px;
      resize: none;
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      & div {
        display: flex;
        align-items: center;
      }

      & span {
        margin-left: 10px;
      }

      & .button {
        padding: 17px 43px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background-color: #1de9b6;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
      }
    }

    &__item {
      display: block;
      border-radius: 5px;
      border: 1px solid #061e37;
      padding: 17px 20px;
      color: #061e37;
      font-size: 14px;
      font-weight: 500;

      &::placeholder {
        color: #061e37;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}